@page
@model GameGrabber.Pages.SalesPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].CustomersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].ProductsName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SalesID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SalesID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SalesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
